//--
//- Render and input field.options.
//-
//- @param {Field} field - Instance of the Field class, see src/server/util/form
//-
mixin renderInput(field)
  div(class='#{ field.options.classString }')
    .label #{ field.options.name || field.options.label }
    input(type='#{ field.options.type }', name='#{ field.options.name }', placeholder='#{ field.options.placeholder }', value='#{ field.options.value }')
    if field.options.errors.length
      .errors
        for error in field.options.errors
          .error error
