//--
//- Render and input field.options.
//-
//- @param {Field} field - Instance of the Field class, see src/server/util/form
//-
mixin renderInput(field)
  div(class='input #{ field.options.classString }')
    if field.options.readonly
      input(type='#{ field.options.type }', name='#{ field.options.name }', placeholder='#{ field.options.placeholder }', value='#{ field.options.value }', readonly='readonly')
    else
      input(type='#{ field.options.type }', name='#{ field.options.name }', placeholder='#{ field.options.placeholder }', value='#{ field.options.value }')
    .errors
      for error in field.options.errors
        .error error
